/* 折叠按钮 */
.iconcol {
  position: sticky;
  left: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.ticon{
  cursor: pointer;
  font-size: 16px;
  color: #aaa;
}
/* 折叠区域 */
.rowChildList {
  border: 2px solid #ccc;
  height: 10px;
  width: 100%;
  background-color: aquamarine;
}

.gxg-table__row--level-1 .graybg {
  /* color: #f0f0f0; */
  background-color: #f0f0f0;
  border-bottom: 1px solid transparent;
}
.gxg_left_20{
  left: 20px !important;
}